footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: aqua;
}

body {
    margin-bottom: 5%;
}
.navbar-brand {
    margin-right: 70%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.static{
    text-decoration: none;
}